TAGS
.DS_Store
/.stack-work
*.refactored.hs
/dist
/resource/data.json
*.vcd
*.out
*.signals.v
*.inputs.v
*.outputs.v
*.tix
*.prof
hdl/gen/*
gen/*
.vscode/*
web/api.txt
.#*
.tasty-rerun-log
hie.yaml
*.hie
.idea/
*.iml
**/build
**/*.spec
**/.ml_backend_base_url
nitta-mlbackend
evaluation
