aiohttp~=3.7.4.post0
cached-property~=1.5.2
cachetools~=4.2.2
dataclasses-json~=0.5.3
ipython~=7.25.0
jupyter~=1.0.0
matplotlib~=3.4.2
missingno~=0.4.2
numpy~=1.19.5
pandas~=1.2.4
requests~=2.25.1
scikit-learn~=0.24
tensorflow~=2.5.0
protobuf~=3.20.1
pytest~=7.1.2
pytest-asyncio~=0.18.3
joblib~=1.1.0
