// @import 'foundation';

$bg-color: yellow;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }
}

.edgeCardContainer {
  border: 2px dashed black;
  margin: 5% 5% 5% 5%;
  padding: 10px;
  width: 40%;
  background-color: white;

  p {
    font-size: 14px;
  }
}

.edgeCardContents {
  float: left;
}
