// @import 'foundation';

$bg-color: yellow;
$border-color: red;
$button-color: #1779ba;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }
}



//Edge's Styles
.jsonViewContainer {
  margin: 1% ;
  width: 240px;
  display: inline-block;
  button {
    color: $button-color;
  }
}

.jsonViewBody {
  overflow-y: auto;
  max-height: 400px;
}

.lineChartContainer {
  margin: 1%;
  width: 45%;
}

.window {
  border: 1px dashed black;
  background-color: white;
  margin: 1%;
}

.edgeGraphContainer {
  @extend .window;
  width: 490px;
  height: 400px;
}

.edgeCardProgressBar {
  progress {
    width: 100%;
  }
}

.edgeCardContainer {
  @extend .window;
  padding: 10px;
  display: inline;

  p {
    font-size: 14px;
  }
}

.edgeCardContents {
  float: left;
}

.hoverWrapper #hoverShow1 {
  display: none;
  position: absolute;
  background-color: #60bfff;
}

.hoverWrapper:hover #hoverShow1 {
  display: block;
}