// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";

// TODO: Narrow navbar fix

.appNavbar {
  min-height: auto;
}

.tab-content {
  height: 100%;
  min-height: 100%;
}

.tab{
  max-height: 100%;
}