.tab {
    color: white;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 0em !important;
    border-top-right-radius: 0em !important;
}

.tab:hover,
.tab:focus {
    color: white;
}

.tab:active {
    color: darkslategrey;
}
