.units-container {
  position: relative;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.unit-column {
  position: absolute;
  border: 1px solid #dee2e6;
  border-radius: 6px;

  .unit-header {
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
  }

  .unit-timeline-track {
    display: inline-block;
  }
}
