.filter-section {
  padding: 1rem 2rem 0 2rem;
  background-color: #f8f9fa;

  .filter-controls-container {
    background: white;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    gap: 1rem;
    display: flex;
    flex-direction: column;


    .buttons-row {
      display: flex;
      align-items: center;
      gap: 1rem;

      .label-buttons {
        gap: 1.5rem;
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, max-content);
      }

      .filter-buttons {
        display: flex;
        gap: 8px;

        .filter-button {

          background-color: white;
          border: 1px solid #dee2e6;
          border-radius: 6px;
          font-size: 0.9rem;
          font-weight: 500;
          color: #495057;
          cursor: pointer;
          transition: all 0.2s ease;
          white-space: nowrap;

          &:hover {
            background-color: #f8f9fa;
            border-color: #adb5bd;
            color: #212529;
          }

          &:active {
            background-color: #e9ecef;
          }
        }
      }
    }

    .graphvizContainer {
      background-color: white !important;
    }
  }
}

.process-timelines-2-vertical {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #f8f9fa;
  font-family: monospace;

  .vertical-time-axis {
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
    align-items: center;

    .time-label-container {
      .time-label-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 3px solid #F3F4F6;
        border-radius: 14px;
        font-size: 0.85rem;
        font-weight: 600;
        color: #495057;
        transform-origin: top left;
      }
    }
  }

  .diagram-split-view {
    flex: 1;
    overflow: hidden;
    min-width: 0;
  }
}
